html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.card-border {
    border: 1px solid black;
    width: 500px;
    height: 700px;
	margin: 0 auto;
	margin-top: 56px;
	border-radius: 25px;
	box-sizing: border-box;
	box-shadow: -8px 9px 16px -3px gray;
	background-color: #171314;
}
.card-background {
	z-index: 0;
	height: 600px;
	margin: 20px 20px 0 20px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 8%;
	border-bottom-left-radius: 8%;
	background-color: #bbb;
}
/*
 — — — — — — — — — — — — -
 — — — — — — — — — — — — -
 BORDERS
 — — — — — — — — — — — — -
 — — — — — — — — — — — — -
*/
.frame-header,
.frame-type-line {
	border-bottom: 4px solid #a9a9a9;
	border-left: 2px solid #a9a9a9;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
}
.frame-header,
.frame-type-line {
	box-shadow: 0 0 0 2px #171314,
	0 0 0 5px #26714A,
	-3px 3px 2px 5px #171314;
	margin-bottom:  7px;
}
.frame-art img {
  width: 458px; /*edit proportions later*/
  height: 355px;
}
.frame-text-box {
	box-shadow:
	0 0 0 5px #26714A,
	-3px 3px 2px 5px #171314;
}
/*
 — — — — — — — — — — — 
 — — — — — — — — — — — 
 OVERFLOW
 — — — — — — — — — — — 
 — — — — — — — — — — — 
*/
.frame-header,
.frame-type-line,
.frame-text-box {
 overflow: hidden;
}
.frame-header,
.frame-type-line {
 background: 
 linear-gradient( 0deg, rgba(201, 216, 201, .3), rgba(201, 216, 209, .3) ), 
 url(https://image.ibb.co/jKByZn/tile_bg_1.jpg); 
 display: flex;
 margin-top: 10px;
 margin-left: 5px;
 margin-right: 5px;
 padding: 8px 0;
 display: flex;
 justify-content: space-between;
 border-radius: 18px/40px;
}
.name,
.type {
  font-size: 1.3em;
  margin-left: 10px;
  align-self: baseline;
  font-weight: 600;
}


.card-frame {
	z-index: 1;
	position: relative;
	height: 108%;

}

.creature-rules {
  display: none;
}
.planeswalker-rules {
  display: none;
}